@tailwind base;
@tailwind utilities;
@tailwind components;

.active{
   background-color: #19BC9C;
   border-radius: 6px;
}

.last {
    background-color: #1A252F;
}

.row{
   @apply flex flex-wrap justify-around items-center 
}